<input type="text" id="blog-search" placeholder="Blog Title Search" />

<section id="main">
    <ul id="blog-list">
        <li class="completed">
            <label>Test Blog 1</label> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <button class="destroy">X</button>
        </li>
        <li>
            <label>Test Blog 3</label> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <button class="destroy">X</button>
        </li>
        <li>
            <label>Test Blog 3</label> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <button class="destroy">X</button>
        </li>
    </ul>
</section>

<footer id="footer">
    <span id="blog-count">
        <strong>2</strong> Blog Count
    </span>
    <ul id="filters">
        <li>
            <a href="all">All</a>
        </li>
        <li>
            <a href="active">Active</a>
        </li>
        <li>
            <a href="completed">Completed</a>
        </li>
    </ul>
</footer>
