<input type="text" id="blog-search" placeholder="Blog Title Search" />

<section id="main">
    <ul id="blog-list">
        <li class="completed">
          <a href="Test Blog 1">Test Blog 1</a> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <button class="destroy">X</button>
        </li>
        <li>
          <a href="Test Blog 2">Test Blog 2</a> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <button class="destroy">X</button>
        </li>
        <li>
          <a href="Test Blog 3">Test Blog 3</a> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> <button class="destroy">X</button>
        </li>
    </ul>
</section>

<footer id="footer">
    <span id="blog-count">
        <strong>2</strong> Blog Count
    </span>
    <ul id="filters">
        <li>
            <a href="Popular">Popular</a>
        </li>
        <li>
            <a href="Recent">Recent</a>
        </li>
        <li>
            <a href="Oldest">Oldest</a>
        </li>
    </ul>
</footer>
